<h2>Note contents</h2>

<p>
  <strong>
    The note was destroyed. If you need to keep it, copy it before closing the window.
  </strong>
</p>

<p>
  <textarea autofocus hidden readonly rows="10" cols="100">{{ note }}</textarea>
</p>

<p>
  <button>Copy text</button>
</p>

{% include "../includes/crypto-js.html" %}

<script>
  const textarea = document.querySelector('textarea');
  const button = document.querySelector('button');
  const secret = window.location.hash.slice(1);

  if (secret) {
    const bytes = CryptoJS.AES.decrypt(textarea.value, secret);
    const decryptedNote = bytes.toString(CryptoJS.enc.Utf8);
    textarea.value = decryptedNote;
    textarea.hidden = false;
    textarea.focus();
  } else {
    textarea.value = '';
  }

  textarea.innerHTML = '';

  button.addEventListener('click', () => {
    textarea.select();
    document.execCommand('copy');
  });
</script>
